<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Intro JS </title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <input v-model="msg">
        {{msg}}
        <ul>
            <li v-for="card in cardTypes">
                {{card}}
            </li>
        </ul>
        <button v-on:click="btnClick" >Click me</button>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data:{
            'msg': 'Hello Hiruth',
            'cardTypes': ['red', 'orange', 'green']
        }, 
        methods: {
            btnClick: function(){
                alert('I have been clicked')
            }
        }
    })
</script>
</html>